<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success</title>
    <link rel="stylesheet" th:href="@{/css/student-pages.css}">
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-wrapper">
        <h1>Registration Successful</h1>
        <p>Your registration has been completed successfully.</p>
        <a th:href="@{/students/register}">Register Another Student</a>
    </div>
	<div class="footer">
    	<form th:action="@{/logout}" method="post">
        	<button type="submit" class="logout-link">Logout</button>
    	</form>
	</div>
</body>
</html>